{%extends "base.html"%}

{% block head %}
<title>Reservar | Confirmación</title>
{% endblock %}
{% block navbar %}
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('home') }}">INICIO</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('nosotros') }}">NOSOTROS</a></li>
                    <li class="nav-item"><a class="nav-link active" href="{{url_for('reserva')}}">RESERVA</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{url_for('formulario')}}">CONTACTO</a></li>
{% endblock %}
{% block body %}

    <section class="hero-wrap hero-wrap-2" style="background-image:url({{ url_for('static', filename='images/salon-1.jpg') }})">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center">
                <div class="col-md-9 pt-5 text-center">
                    <p class="breadcrumbs">
              <span class="me-2"
              ><a href="{{url_for('home')}}"
              >Inicio<i class="fa fa-chevron-right"></i></a
              ></span>
                        <span>Reserva <i class="fa fa-chevron-right"></i></span>
                    </p>
                    <h1 class="mb-0 bread">Reservar</h1>
                </div>
            </div>
        </div>
    </section>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="alerta-confirmacion">
            {% for msg in messages %}
                <p class="texto"> {{ msg }}</p>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}
    <div class="progreso-reserva">
        <div class="stepper-box">
            <div class="stepper-step stepper-completed">
                <div class="stepper-circle">
                    <svg
                            viewBox="0 0 16 16"
                            class="bi bi-check-lg"
                            fill="currentColor"
                            height="16"
                            width="16"
                            xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                                d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"
                        ></path>
                    </svg>
                </div>
                <div class="stepper-line"></div>
                <div class="stepper-content">
                    <div class="stepper-title">Reserva</div>
                    <div class="stepper-status">Completado</div>
                </div>
            </div>

            <div class="stepper-step stepper-completed">
                <div class="stepper-circle">
                    <svg
                            viewBox="0 0 16 16"
                            class="bi bi-check-lg"
                            fill="currentColor"
                            height="16"
                            width="16"
                            xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                                d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"
                        ></path>
                    </svg>
                </div>
                <div class="stepper-line"></div>
                <div class="stepper-content">
                    <div class="stepper-title">Pago</div>
                    <div class="stepper-status">Completado</div>
                </div>
            </div>

            <div class="stepper-step stepper-completed">
                <div class="stepper-circle">
                    <svg
                            viewBox="0 0 16 16"
                            class="bi bi-check-lg"
                            fill="currentColor"
                            height="16"
                            width="16"
                            xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                                d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"
                        ></path>
                    </svg>
                </div>
                <div class="stepper-content">
                    <div class="stepper-title">Confirmación</div>
                    <div class="stepper-status">Completado</div>
                </div>
            </div>
        </div>
    </div>

    <div class="contenedor-confirmacion">
        <div class="contenido-confirmacion">
            <div>
                <h1>¡Gracias por reservar con nosotros!</h1>
                <h3>El pago fue realizado con éxito.</h3>
            </div>

            <div class="navegacion-confirmacion">
                <a href="{{ url_for('home') }}" class="btn btn-primary">Volver al inicio</a>
               {% if session["datos_reserva"] %}
                <form action="{{ url_for('confirmacion') }}" method="POST">
                    <button class="btn btn-primary">Enviar comprobante</button>
                </form>
                {% endif %}
            </div>
        </div>
    </div>

{%endblock%}