 {% extends "base.html" %}

{% block head %}
       <title>Habitaciones</title>
{% endblock %}
    {% block navbar %}
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('home') }}">INICIO</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('nosotros') }}">NOSOTROS</a></li>
                    <li class="nav-item"><a class="nav-link active" href="{{url_for('reserva')}}">RESERVA</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{url_for('formulario')}}">CONTACTO</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{url_for('registro')}}">REGISTRARSE</a></li>
{% endblock %}
{%block body%}
  <section class="hero-wrap hero-wrap-2" style="background-image:url(../static/images/salon-1.jpg)">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center">
        <div class="col-md-9 pt-5 text-center">
          <p class="breadcrumbs"><span class="me-2"><a href="index-2.html">Home <i
                  class="fa fa-chevron-right"></i></a></span> <span class="me-2"><a href="blog.html">Blog <i
                  class="fa fa-chevron-right"></i></a></span> <span>Habitación <i
                class="fa fa-chevron-right"></i></span></p>
          <h1 class="mb-0 bread">Detalles de Habitación</h1>
        </div>
      </div>
    </div>
  </section>
  <section class="ftco-section ftco-room-section">
    <div class="container">
      <div class="row">
        
        <div class="col-lg-8 blog-single">
          <div class="carousel-room">
            <div class="item">
              <div class="room-detail img" style="background-image: url(../static/images/habitacion-3.jpg)">
              </div>
            </div>
            <div class="item">
              <div class="room-detail img" style="background-image: url(../static/images/habitacion.jpg)">
              </div>
            </div>
            <div class="item">
              <div class="room-detail img" style="background-image: url(../static/images/despertar.jpg)">
              </div>
            </div>
            <div class="item">
              <div class="room-detail img" style="background-image: url(../static/images/habitacion-3.jpg)">
              </div>
            </div>
          </div>

          <h2>Habitación de Lujo</h2>
          <p>La habitación de lujo ofrece un espacio amplio y elegante, decorado con tonos neutros y detalles contemporáneos. Cuenta con una cama king size con ropa de cama de alta calidad, un área de descanso con sillones cómodos y una mesa auxiliar. Las amplias ventanas permiten la entrada de luz natural y ofrecen una vista panorámica de la ciudad. El baño, revestido en mármol, incluye una ducha tipo lluvia y bañera independiente, además de artículos de tocador premium. Todo está diseñado para brindar confort, privacidad y una experiencia de hospedaje excepcional.</p>
          <div class="d-md-flex mt-5 mb-5">
            <ul class="list">
              <li><span>Capacidad:</span> 3 Personas</li>
              <li><span>Tamaño:</span> 45 m2</li>
            </ul>
            <ul class="list ms-md-5">
              <li><span>Vista:</span> Vista del Mar</li>
              <li><span>Camas:</span> 1</li>
            </ul>
          </div>
        </div>
        
        
        <div class="col-lg-4 sidebar ps-md-4">
          <div class="sidebar-box">
            <h3>Servicios de Habitación</h3>
            <div class="d-md-flex">
              <ul class="categories me-md-4">
                <li><a href="#">Wifi</a></li>
                <li><a href="#">Restaurante</a></li>
                <li><a href="#">Aire Acondicionado</a></li>
              </ul>
              <ul class="categories ms-md-4">
                <li><a href="#">SPA</a></li>
                <li><a href="#">60" TV</a></li>
                <li><a href="#">Pileta</a></li>
              </ul>
            </div>
          </div>
          
          <div class="sidebar-box">
            <h3>Relacionados</h3>
            <div class="tagcloud">
              <a href="#" class="tag-cloud-link">hotel</a>
              <a href="#" class="tag-cloud-link">pileta</a>
              <a href="#" class="tag-cloud-link">tv</a>
              <a href="#" class="tag-cloud-link">IDS</a>
              <a href="#" class="tag-cloud-link">relajante</a>
              <a href="#" class="tag-cloud-link">cómodo</a>
              <a href="#" class="tag-cloud-link">habitación</a>
              <a href="#" class="tag-cloud-link">restaurante</a>
              <a href="#" class="tag-cloud-link">IES</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="testimony-section bg-light" id="reseñas">
  <div class="container-xl">
    <div class="row justify-content-center pb-4">
      <div class="col-md-7 text-center heading-section" data-aos="fade-up" data-aos-duration="1000">
        <span class="subheading">Habitaciones</span>
        <h2 class="mb-3">Nuestras Habitaciones</h2>
      </div>
    </div>
    <div id="habitacionesCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">

        <div class="carousel-item active">
          <div class="room-wrap text-center">
            <a href="room-single.html" class="img img-room d-block mx-auto"
              style="background-image:url('{{ url_for('static', filename='images/habitacion-1.jpg') }}'); height:350px; background-size:cover; background-position:center;">
            </a>
            <div class="text p-4">
              <h3><a href="room-single.html">Habitación Suite</a></h3>
              <p>Amplios ambientes separados con estilo y privacidad para experiencias únicas.</p>
              <p class="mb-0 mt-2">
                <span class="me-3 price">$450 USD <small>/ noche</small></span>
                <a href="#" class="btn btn-outline-dark btn-sm">Ver</a>
              </p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="room-wrap text-center">
            <a href="room-single.html" class="img img-room d-block mx-auto"
              style="background-image:url('{{ url_for('static', filename='images/room-6.jpg') }}'); height:350px; background-size:cover; background-position:center;">
            </a>
            <div class="text p-4">
              <h3><a href="room-single.html">Habitación Familiar</a></h3>
              <p>Espacio amplio y cómodo para familias que buscan descanso y diversión.</p>
              <p class="mb-0 mt-2">
                <span class="me-3 price">$120 USD <small>/ noche</small></span>
                <a href="#" class="btn btn-outline-dark btn-sm">Ver</a>
              </p>
            </div>
          </div>
        </div>

  
        <div class="carousel-item">
          <div class="room-wrap text-center">
            <a href="room-single.html" class="img img-room d-block mx-auto"
              style="background-image:url('{{ url_for('static', filename='images/room-4.jpg') }}'); height:350px; background-size:cover; background-position:center;">
            </a>
            <div class="text p-4">
              <h3><a href="room-single.html">Habitación Deluxe</a></h3>
              <p>Comodidad, elegancia y una vista increíble. Ideal para escapadas románticas.</p>
              <p class="mb-0 mt-2">
                <span class="me-3 price">$250 USD <small>/ noche</small></span>
                <a href="#" class="btn btn-outline-dark btn-sm">Ver</a>
              </p>
            </div>
          </div>
        </div>

      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#habitacionesCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#habitacionesCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
      </button>
    </div>
  </div>
</section>
{%endblock%}