<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Inicio de sesión</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <link rel="preconnect" href="https://fonts.gstatic.com/"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&amp;family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&amp;display=swap"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/css/ionicons.min.css"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/all.css', _external=True)}}"/>
    </head>
    <body class="inicio-sesion">

        <main class="contenedor-global">
            <!-- FORMULARIO -->
            <div class="contenedor-inicio-sesion">
                <h3>Bienvenido</h3>

                <form class="formulario-inicio-sesion" action="">

                    <!-- ITEM 1 - EMAIL -->
                    <div class="formulario-item">
                        <label for="input-email">
                            Email *
                        </label>
                        <input
                                type="email"
                                id="input-email"
                                name="inputEmail"
                                aria-describedby="Email"
                                placeholder="ejemplo@gmail.com"
                                required
                        />
                    </div>

                    <!-- ITEM 2 - CONTRASEÑA -->
                    <div class="formulario-item">
                        <label for="input-contrasenia" class="formulario-etiqueta">
                            Contraseña *
                        </label>
                        <input
                                type="password"
                                id="input-contrasenia"
                                name="inputContrasenia"
                                aria-describedby="password"
                                placeholder="Contraseña"
                                required
                        />
                    </div>

                    <a href="#">¿Todavía no tenés una cuenta? Registrate</a>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Iniciar sesión</button>
                        <div class="submitting"></div>
                    </div>
                </form>
            </div>
        </main>

        <!-- FOOTER -->
        <footer class="ftco-footer">
            <div class="container-xl">
                <div class="row mb-5 pb-5 justify-content-between">
                    <div class="col-md-6 col-lg">
                        <div class="ftco-footer-widget mb-4">
                            <h2 class="ftco-heading-2 logo d-flex">
                                <a class="navbar-brand align-items-center" href="index-2.html">
                                    <span class="">Unwind <small>Hotel Booking</small></span>
                                </a>
                            </h2>
                            <p>
                                A small river named Duden flows by their place and supplies it
                                with the necessary regelialia.
                            </p>
                            <ul class="ftco-footer-social list-unstyled mt-2">
                                <li>
                                    <a href="#"><span class="fa fa-twitter"></span></a>
                                </li>
                                <li>
                                    <a href="#"><span class="fa fa-facebook"></span></a>
                                </li>
                                <li>
                                    <a href="#"><span class="fa fa-instagram"></span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="ftco-footer-widget mb-4">
                            <h2 class="ftco-heading-2">Services</h2>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="ftco-footer-widget mb-4">
                                    <ul class="list-unstyled">
                                        <li>
                                            <a href="#"
                                            ><span class="fa fa-chevron-right me-2"></span>Free
                                                Wifi</a
                                            >
                                        </li>
                                        <li>
                                            <a href="#"
                                            ><span class="fa fa-chevron-right me-2"></span>Easy
                                                Booking</a
                                            >
                                        </li>
                                        <li>
                                            <a href="#"
                                            ><span class="fa fa-chevron-right me-2"></span
                                            >Restaurant</a
                                            >
                                        </li>
                                        <li>
                                            <a href="#"
                                            ><span class="fa fa-chevron-right me-2"></span>Swimming
                                                Pool</a
                                            >
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="ftco-footer-widget mb-4">
                                    <ul class="list-unstyled">
                                        <li>
                                            <a href="#"
                                            ><span class="fa fa-chevron-right me-2"></span>Beauty
                                                &amp; Health</a
                                            >
                                        </li>
                                        <li>
                                            <a href="#"
                                            ><span class="fa fa-chevron-right me-2"></span>60"
                                                Flatscreen TV</a
                                            >
                                        </li>
                                        <li>
                                            <a href="#"
                                            ><span class="fa fa-chevron-right me-2"></span>Cold
                                                Aircondition</a
                                            >
                                        </li>
                                        <li>
                                            <a href="#"
                                            ><span class="fa fa-chevron-right me-2"></span>Help
                                                &amp; Support</a
                                            >
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-2">
                        <div class="ftco-footer-widget mb-4">
                            <h2 class="ftco-heading-2">Quick Links</h2>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="#"
                                    ><span class="fa fa-chevron-right me-2"></span>Home</a
                                    >
                                </li>
                                <li>
                                    <a href="#"
                                    ><span class="fa fa-chevron-right me-2"></span>About</a
                                    >
                                </li>
                                <li>
                                    <a href="#"
                                    ><span class="fa fa-chevron-right me-2"></span>Rooms</a
                                    >
                                </li>
                                <li>
                                    <a href="#"
                                    ><span class="fa fa-chevron-right me-2"></span>Resto &amp;
                                        Bar</a
                                    >
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg">
                        <div class="ftco-footer-widget mb-4">
                            <h2 class="ftco-heading-2">Have a Questions?</h2>
                            <div class="block-23 mb-3">
                                <ul>
                                    <li>
                            <span class="icon fa fa-map marker"></span
                            ><span class="text"
                                    >203 Fake St. Mountain View, San Francisco, California,
                              USA</span
                                    >
                                    </li>
                                    <li>
                                        <a href="#"
                                        ><span class="icon fa fa-phone"></span
                                        ><span class="text">+2 392 3929 210</span></a
                                        >
                                    </li>
                                    <li>
                                        <a href="#"
                                        ><span class="icon fa fa-paper-plane pr-4"></span
                                        ><span class="text"
                                        ><span
                                                class="__cf_email__"
                                                data-cfemail="1e777078715e67716b6c7a71737f7770307d7173"
                                        >[email&#160;protected]</span
                                        ></span
                                        ></a
                                        >
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid px-0 py-5 bg-darken">
                <div class="container-xl">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <p
                                    class="mb-0"
                                    style="color: rgba(255, 255, 255, 0.5); font-size: 13px"
                            >
                                Copyright &copy;
                                <script
                                        data-cfasync="false"
                                        src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"
                                ></script>
                                <script>
                                    document.write(new Date().getFullYear());
                                </script>
                                All rights reserved | This template is made with
                                <i class="fa fa-heart color-danger" aria-hidden="true"></i> by
                                <a
                                        href="https://colorlib.com/"
                                        target="_blank"
                                        rel="nofollow noopener"
                                >Colorlib</a
                                >
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </body>
</html>