{%extends "base.html"%}

{% block head %}
<title>Reservar | Pago</title>
{% endblock %}

{% block body %}
    <section class="hero-wrap hero-wrap-2" style="background-image:url({{ url_for('static', filename='images/salon-1.jpg') }})">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center">
                <div class="col-md-9 pt-5 text-center">
                    <h1 class="mb-0 bread">Reservar</h1>
                </div>
            </div>
        </div>
    </section>

    <div class="progreso-reserva">
        <div class="stepper-box">
            <div class="stepper-step stepper-completed">
                <div class="stepper-circle">
                    <svg
                            viewBox="0 0 16 16"
                            class="bi bi-check-lg"
                            fill="currentColor"
                            height="16"
                            width="16"
                            xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                                d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"
                        ></path>
                    </svg>
                </div>
                <div class="stepper-line"></div>
                <div class="stepper-content">
                    <div class="stepper-title">Reserva</div>
                    <div class="stepper-status">Completado</div>
                </div>
            </div>

            <div class="stepper-step stepper-active">
                <div class="stepper-circle">2</div>
                <div class="stepper-line"></div>
                <div class="stepper-content">
                    <div class="stepper-title">Pago</div>
                    <div class="stepper-status">En proceso</div>
                </div>
            </div>

            <div class="stepper-step stepper-pending">
                <div class="stepper-circle">3</div>
                <div class="stepper-content">
                    <div class="stepper-title">Confirmación</div>
                    <div class="stepper-status">Pendiente</div>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex w-100 px-5 pt-5" style="min-height: 600px;">
        <div id="contenerdor_de_reserva_usuario">
            TU REVERSA
            <div class="p-1 m-2">
                Reserva {{ info_reserva.numero_de_reserva }}

                <div class="reserva_de_usuario w-100 list-unstyled px-2 pb-5">
                    <li><span>Check-in:</span><span>{{ info_reserva.fecha_checkin }}</span></li>
                    <li><span>Check-out:</span><span>{{ info_reserva.fecha_checkout }}</span></li>
                    <li><span>Cantidad de huespedes:</span><span>{{ info_reserva.cantidad_huespedes }}</span></li>
                    <li><span>Monto Total:</span><span>{{ info_reserva.total_pagado }}</span></li>
                </div>

            </div>
        </div>

        <div id="contenedor_de_metodo_de_pago">
            METODOS DE PAGO
            <div class="d-flex justify-content-center align-items-center p-4 border-top border-2 border-secondary m-3 text-white">
                <button class="opciones_de_metodo_de_pago btn p-3 mx-2">PAGAR MAS TARDE</button>
                <button class="opciones_de_metodo_de_pago_2 btn p-3 mx-2 text-white">MERCADO PAGO</button>
                <button class="opciones_de_metodo_de_pago btn p-3 mx-2">TARJETA DE CREDITO</button>
                <!-- se deve de poder agregar el metodo de pagoa una base de datos -->
            </div>
            <div>
                <img src="{{ url_for('static', filename='images/qr_rick.jpg') }}" class="w-25 h-25 justify-content-end" >
            </div>
            <div>
                <a href="{{ url_for('confirmacion') }}" class="btn text-white m-5 p-3" id="boton_de_confirmar_reserva">CONFIRMAR RESERVA</a>
            </div>

        </div>
    </div>

{%endblock%}