{%extends "base.html"%}

{% block head %}
<title>Reservar | Pago</title>
{% endblock %}
{% block navbar %}
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('home') }}">INICIO</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('nosotros') }}">NOSOTROS</a></li>
                    <li class="nav-item"><a class="nav-link active" href="{{url_for('reserva')}}">RESERVA</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{url_for('formulario')}}">CONTACTO</a></li>
{% endblock %}
{% block body %}
    <section class="hero-wrap hero-wrap-2" style="background-image:url({{ url_for('static', filename='images/salon-1.jpg') }})">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center">
                <div class="col-md-9 pt-5 text-center">
                    <p class="breadcrumbs">
              <span class="me-2"
              ><a href="{{url_for('home')}}"
              >Inicio<i class="fa fa-chevron-right"></i></a
              ></span>
                        <span>Reserva <i class="fa fa-chevron-right"></i></span>
                    </p>
                    <h1 class="mb-0 bread">Reservar</h1>
                </div>
            </div>
        </div>
    </section>

    <div class="progreso-reserva">
        <div class="stepper-box">
            <div class="stepper-step stepper-completed">
                <div class="stepper-circle">
                    <svg
                            viewBox="0 0 16 16"
                            class="bi bi-check-lg"
                            fill="currentColor"
                            height="16"
                            width="16"
                            xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                                d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"
                        ></path>
                    </svg>
                </div>
                <div class="stepper-line"></div>
                <div class="stepper-content">
                    <div class="stepper-title">Reserva</div>
                    <div class="stepper-status">Completado</div>
                </div>
            </div>

            <div class="stepper-step stepper-active">
                <div class="stepper-circle">2</div>
                <div class="stepper-line"></div>
                <div class="stepper-content">
                    <div class="stepper-title">Pago</div>
                    <div class="stepper-status">En proceso</div>
                </div>
            </div>

            <div class="stepper-step stepper-pending">
                <div class="stepper-circle">3</div>
                <div class="stepper-content">
                    <div class="stepper-title">Confirmación</div>
                    <div class="stepper-status">Pendiente</div>
                </div>
            </div>
        </div>
    </div>

        <div class="contenedor-detalle-metodos-pago">
            <div id="contenerdor_de_reserva_usuario">
                DETALLES DE TU REVERSA
                <div class="p-1 m-2">
                    #{{ info_reserva.numero_de_reserva }}

                    <div class="reserva_de_usuario w-100 list-unstyled px-2 pb-5">
                        <li><span>Check-in:</span><span>{{ info_reserva.fecha_checkin }}</span></li>
                        <li><span>Check-out:</span><span>{{ info_reserva.fecha_checkout }}</span></li>
                        <li><span>Cantidad de huéspedes:</span><span>{{ info_reserva.cantidad_huespedes }}</span></li>
                        <li><span>Monto Total:</span><span>{{ info_reserva.total_pagado }}</span></li>
                    </div>

                </div>
            </div>

            <div id="contenedor_de_metodo_de_pago">
                MÉTODOS DE PAGO
                <div class="d-flex justify-content-center align-items-center p-4 border-top border-2 border-secondary m-3 text-white">
                    <button onclick="mostrarPago('transferencia')" class="opciones_de_metodo_de_pago btn p-3 mx-2">TRANSFERENCIA</button>
                    <button onclick="mostrarPago('mp')" class="opciones_de_metodo_de_pago_2 btn p-3 mx-2">MERCADO PAGO</button>
                    <button onclick="mostrarPago('tarjeta')" class="opciones_de_metodo_de_pago btn p-3 mx-2">TARJETA DE CREDITO</button>
                </div>

                <div class="contenedor-metodo-pago">
                    <div class="metodos-pago">
                        <div  id="zonaPago"><p>Seleccione un método de pago</p></div>

                        <div id="pago-transferencia" style="display:none">
                            <div class="walletBalanceCard">
                                <div class="svgwrapper">
                                    <svg viewBox="0 0 24 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect
                                                x="0.539915"
                                                y="6.28937"
                                                width="21"
                                                height="4"
                                                rx="1.5"
                                                transform="rotate(-4.77865 0.539915 6.28937)"
                                                fill="#C5A880"
                                                stroke="black"
                                        ></rect>
                                        <circle
                                                cx="11.5"
                                                cy="5.5"
                                                r="4.5"
                                                fill="#E7E037"
                                                stroke="#F9FD50"
                                                stroke-width="2"
                                        ></circle>
                                        <path
                                                d="M2.12011 6.64507C7.75028 6.98651 12.7643 6.94947 21.935 6.58499C22.789 6.55105 23.5 7.23329 23.5 8.08585V24C23.5 24.8284 22.8284 25.5 22 25.5H2C1.17157 25.5 0.5 24.8284 0.5 24V8.15475C0.5 7.2846 1.24157 6.59179 2.12011 6.64507Z"
                                                fill="#C5A880"
                                                stroke="black"
                                        ></path>
                                        <path
                                                d="M16 13.5H23.5V18.5H16C14.6193 18.5 13.5 17.3807 13.5 16C13.5 14.6193 14.6193 13.5 16 13.5Z"
                                                fill="#C5A880"
                                                stroke="black"
                                        ></path>
                                    </svg>
                                </div>

                                <div class="balancewrapper">
                                    <span class="balanceHeading">Dinero en cuenta</span>
                                    <p class="balance"><span id="currency">$</span>890.12</p>
                                </div>

                                <button class="addmoney"><span class="plussign">+</span>Ingresar dinero</button>
                            </div>
                        </div>

                        <div id="pago-mp" style="display:none">
                            <img src="{{ url_for('static', filename='images/qr_rick.jpg') }}">
                        </div>

                        <div id="pago-tarjeta" style="display:none">
                            <div class="visa-card">
                                <div class="logoContainer">
                                    <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            x="0px"
                                            y="0px"
                                            width="23"
                                            height="23"
                                            viewBox="0 0 48 48"
                                            class="svgLogo"
                                    >
                                        <path
                                                fill="#ff9800"
                                                d="M32 10A14 14 0 1 0 32 38A14 14 0 1 0 32 10Z"
                                        ></path>
                                        <path
                                                fill="#d50000"
                                                d="M16 10A14 14 0 1 0 16 38A14 14 0 1 0 16 10Z"
                                        ></path>
                                        <path
                                                fill="#ff3d00"
                                                d="M18,24c0,4.755,2.376,8.95,6,11.48c3.624-2.53,6-6.725,6-11.48s-2.376-8.95-6-11.48 C20.376,15.05,18,19.245,18,24z"
                                        ></path>
                                    </svg>
                                </div>
                                <div class="number-container">
                                    <label class="input-label" for="cardNumber">NÚMERO DE TARJETA</label>
                                    <input
                                            class="inputstyle"
                                            id="cardNumber"
                                            placeholder="XXXX XXXX XXXX XXXX"
                                            name="cardNumber"
                                            type="text"
                                    />
                                </div>

                                <div class="name-date-cvv-container">
                                    <div class="name-wrapper">
                                        <label class="input-label" for="holderName">TITULAR</label>
                                        <input
                                                class="inputstyle"
                                                id="holderName"
                                                placeholder="NAME"
                                                type="text"
                                        />
                                    </div>

                                    <div class="expiry-wrapper">
                                        <label class="input-label" for="expiry">HASTA</label>
                                        <input class="inputstyle" id="expiry" placeholder="MM/YY" type="text" />
                                    </div>
                                    <div class="cvv-wrapper">
                                        <label class="input-label" for="cvv">CVV</label>
                                        <input
                                                class="inputstyle"
                                                placeholder="***"
                                                maxlength="3"
                                                id="cvv"
                                                type="password"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="boton-confirmar-pago">
                        <a href="{{ url_for('confirmacion') }}" class="btn text-white m-5 p-3" id="boton_de_confirmar_reserva">CONFIRMAR RESERVA</a>
                    </div>
                </div>
            </div>
        </div>

{%endblock%}